.subHeader{
    font-size: larger;
    margin-top: 6%;
    text-align: center;
}

.main
{
    padding: 0.2%;
}

.clips-section {
    margin: 20px 0;
  }

.clips-section h1{
  display: flex;
  align-items: center;
}
  
  .clips-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .clip-item {
    margin: 10px;
  }

  .level
  {
    margin: 3%;
  }

  .info
  {
    display: flex;
    justify-content: space-between;
  }

  .css-110nfzl-MuiButtonBase-root-MuiButton-root {
  min-width: 120px !important;
  min-height: 40px !important;
  }

  .clip-item iframe{
    border:3.5px solid #B0C4DE;

  }

  /* for time icon  */
  .css-1umw9bq-MuiSvgIcon-root {
    font-size: 2rem !important;
    margin-right: 2rem;
  }